svg
{
    text
    {
        animation: textAnimation 3s infinite alternate;
    }

    .welcome-animation
    {
        font-weight: 700;
        font-size: 70px;
        stroke: $c-primary;
    }
    .text-animation
    {
        font-weight: 700;
        font-size: 20px;
        stroke: $c-primary;
        stroke-width: 0.5;
    }
}

@keyframes textAnimation 
{
    0% {
        stroke-dasharray: 0 50%;
    }
    100% {
        stroke-dasharray: 50% 0;
    }
}