/*--Person-Photo-in-Mobile-View--*/
.photo
{
    .person_name
    {
        font-size: 30px;
        font-weight: 900;
        color: $c-white;
        text-align: center;
        line-height: 1.17;
        text-transform: uppercase;
    }
    
    .person_position
    {
        font-size: 18px;
        font-weight: bold;
        color: $c-primary;
        text-align: center;
        margin-top: 20px;
        line-height: normal;
    }
    .person_social_links
    {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 15px 0 20px;

        li
        {
            position: relative;
            list-style: none;
            margin-top: 5px;
            margin-bottom: 5px;

            a
            {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 10px;
                text-decoration: none;
                transition: .5s;

                img
                {
                    max-width: 35px;
                    background: transparent;
                }

                &:hover
                {
                    transform: translateY(-10px);
                }
            }
        }
    }
}