/*--Colors Varibles--*/
$c-primary: rgb(241, 60, 32);
$c-light-black: #1c1e1f;
$light-gray: #b9b9b9;
$c-black: #000000;
$c-white: #ffffff;
$c-error: #dc3545;
$c-scrollbar: #3c3f3c;
$c-skills-img-bg: #000000;
$c-skills-img-bg-after: #64646480;
$c-preloader-bg: #3c3c3c;
$c-preloader: #bfbfbf;
$c-project-items: rgba(255, 255, 255, 0.102);
$c-project-img-bg: #333333;
$c-active-tab-bg: #27292a;
$c-title-img-bg: #1c1e1f;
$c-subtitle-img-bg: #27292a;
$c-timeline-item-bg: #333333;
$c-read-more-link: #555555;

/*--Font Variable--*/
$f-primary: 'Roboto', sans-serif;

/*--Box Shadow--*/
$bs-item-hover: 0px 7px 10px rgba(0, 0, 0, 0.5);
$bs-btn-hover: 0px 7px 10px rgba(0, 0, 0, 0.5);
$bs-title-img: -3px -3px 2px rgba(241, 60, 32, 0.3),
                    5px 5px 5px rgba(0, 0, 0, 0.3),    
                    15px 15px 15px rgba(0, 0, 0, 0.3);
$bs-menu-img: -3px -3px 2px rgba(241, 60, 32, 0.3),
                    5px 5px 5px rgba(0, 0, 0, 0.3),    
                    15px 15px 15px rgba(0, 0, 0, 0.3);
$ds-title-text: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3))
                drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3))
                drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.3));
$bs-subtitle-img: -3px -3px 2px rgba(241, 60, 32, 0.3),
                    5px 5px 5px rgba(0, 0, 0, 0.3),    
                    15px 15px 15px rgba(0, 0, 0, 0.3);
$bs-home-hr: 0 0px 10px $c-primary;                  
$bs-show-nav-link: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
$bs-person-avatar: inset 5px 5px 5px rgba(241, 60, 32, 0.7),
                    inset -5px -5px 5px rgba(241, 60, 32, 0.7);
$bs-skills-img: inset 0px -10px 10px rgba(241, 60, 32, 0.2),
                0px 20px 10px rgba(241, 60, 32, 0.2);
$bs-popup-footer: 0 -14px 26px -12px rgba(236, 77, 55, 0.42), 0 -4px 23px 0px rgba(0, 0, 0, 0.12), 0 -8px 10px -5px rgba(236, 77, 55, 0.2);
$bs-popup-header: 0 14px 26px -12px rgba(236, 77, 55, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(236, 77, 55, 0.2)